* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
}

/*En ID about-me*/
span {
  position: relative;
}

span:before {
  content: "";
  position: absolute;
  background-color: black;
  width: 0vw;
  height: 200%;
  animation-name: tachado;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes tachado {
  from {
    width: 0vw;
  }
  to {
    width: 30vw;
  }
}
/*En Id Works*/
.works__flip {
  position: relative;
  height: 500px;
}

.works__flip__card {
  position: absolute;
  top: 50%;
  left: 15%;
  height: 400px;
  width: 300px;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
}
.works__flip__card:hover .card-front {
  transform: rotateX(-180deg);
}
.works__flip__card:hover .card-back {
  transform: rotateX(0deg);
}

.card-front--1 {
  height: 100%;
  width: 100%;
  background-image: url(/images/dgeyc.png);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}

.card-front--2 {
  height: 100%;
  width: 100%;
  background-image: url(/images/d&s.png);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}

.card-front--3 {
  height: 100%;
  width: 100%;
  background-image: url(/images/caesar.png);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}

.card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
  color: black;
  text-align: center;
}
.card-back h3 {
  margin: 20% auto 35% auto;
  font-size: 26px;
}
.card-back p {
  font-size: 20px;
  text-decoration: underline;
}
.card-back ul li {
  list-style-type: none;
}

/*https://codepen.io/yuhomyan/pen/ExKvNVa - Hamburger Menu 2-*/
#header {
  height: 100vh;
  min-height: 100vh;
}

.wrapper {
  position: absolute;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  background: #000;
  transition: all 0.6s ease-in-out;
  height: 100vh;
}

#active:checked ~ .wrapper {
  right: 0;
}

#active:checked ~ .wrapper ul li a {
  transform: none;
  transition-timing-function: ease, cubic-bezier(0.1, 1.3, 0.3, 1);
  transition-delay: 0.6s;
  transform: translateX(-100px);
  opacity: 1;
}

.menu-btn {
  position: fixed;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #000;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
  transform: translateY(-8px);
}

.menu-btn:after {
  transform: translateY(8px);
}

.close {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background 0.6s;
}

/* closing animation */
#active:checked + .menu-btn span {
  transform: scaleX(0);
}

#active:checked + .menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
}

#active:checked + .menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
}

.wrapper ul {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  width: 80%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li {
  height: 15%;
  margin: 15px 0;
}
.wrapper ul li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  padding: 5px 25px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 30px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a :after {
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover {
  color: #1a73e8;
}
.wrapper ul li a:hover:after {
  transform: scaleY(1);
}

input[type=checkbox] {
  display: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title {
  font-size: 40px;
  font-weight: 700;
}
.content p {
  font-size: 35px;
  font-weight: 600;
}

/*Footer with gray background: https://bootsnipp.com/snippets/M56El*/
footer {
  font-family: "Signika", sans-serif;
  color: grey;
}
footer p, footer a {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
footer h6 {
  font-family: "Playfair Display", serif;
  margin-bottom: 40px;
  position: relative;
}
footer h6:after {
  position: absolute;
  content: "";
  background: grey;
  width: 12%;
  height: 1px;
  left: 0;
  bottom: -20px;
}

.bg-grey {
  background: #292929;
}

.logo-footer {
  margin-bottom: 40px;
}

.btn-footer {
  padding: 7px;
  line-height: 47px;
}
.btn-footer img {
  border-radius: 50%;
}

.social {
  display: flex;
  flex-direction: column;
}
.social a {
  text-decoration: none;
  color: gray;
}

footer ul {
  padding-left: 0;
}
footer ul li {
  list-style: none;
  display: block;
}
footer ul li a {
  text-decoration: none;
  color: grey;
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: none;
  color: #f5f5f5 !important;
}

.logo-part {
  border-right: 1px solid grey;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
