/*Footer with gray background: https://bootsnipp.com/snippets/M56El*/
footer {
    font-family: 'Signika', sans-serif;
    color: nth($colors, 3);
    
    p, a {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    }
    
    h6 {
        font-family: 'Playfair Display', serif;
        margin-bottom: 40px;
        position: relative;

        &:after {
            position: absolute;
            content: "";
            background: nth($colors, 3);
            width: 12%;
            height: 1px;
            left: 0;
            bottom: -20px;
        }
    }
}

.bg-grey {
    background: nth($colors, 4);
}

.logo-footer {
    margin-bottom: 40px;
}
    
.btn-footer {          
    padding: 7px;
    line-height: 47px;

    img {
        border-radius: 50%;
    }
}

.social {
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        color:nth($colors, 3);
    }    
}
    



footer ul  {
    padding-left: 0;
    
    li {
    list-style: none;
    display: block;
    
        a{
            text-decoration: none;
            color: grey;
            text-decoration:none;

            &:hover {
                text-decoration: none;
                color: #f5f5f5 !important;
            }
        }
    }
}

.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}   