/*CodePen Home
Material design round mask menu (pure css): https://codepen.io/sorinbotirla/pen/QyoYgx*/

header {
  background-color: nth($colors, 4);
  padding-top: 2%;
  padding-left: 2%;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 100%;
  height: 14vh;
  z-index: 10;

  div p {
    color: nth($colors, 1);
    position: fixed;
    top:0;
    right: 0;
    padding-top: 2%;
    padding-right: 5%;
    font-size: 2rem;
  }
}

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;  
  
  div {
    position: relative;
    width: 20px;
    height: 2px;
    background: nth($colors, 1);

    &:before, &:after {
      display: block;
      content: "";
      width: 20px;
      height: 2px;
      background: nth($colors, 1);
      position: absolute;
    }
  }
}
 
.navicon div:before { 
  top: -7px; 
}

.navicon div:after {
  top: 7px; 
}

nav {
  width: 300px;
  background:nth($colors, 4);
  color: nth($colors, 1);
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;  
  
  &:hover {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-clip-path: circle(390px at 225px 24px);
    clip-path: circle(390px at 150px 24px);
  }
  
  ul li {
    list-style-type: none;

    a {
      display: block;
      line-height: 50px;
      padding: 0 20px;
      color: inherit;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-decoration: none;

      &:hover { 
        background:nth($colors, 1); 
        color: nth($colors, 6);
      }
    }
  }
}
