/*En ID about-me*/
span {
    position: relative;
}

span:before {
    content: "";
    position: absolute;
    background-color: black;
    width: 0vw;
    height: 100%;
    animation-name: tachado;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes tachado {
    from {width: 0vw;}
    to {width: 20vw;}
}

/*En ID works*/
.round {
    margin: 50px;
    position: relative;
    
    &__spin {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(50%, 50%);
    animation: spin infinite linear both;

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                width: calc(#{$i}8%);
                height: calc(#{$i}8%);
            }
        }
    }

    &__ball {
        position: absolute;
        top: 50%;
        left: -12px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        transform: translateY(100%);
    }
}
  
@keyframes spin {
    from {
        transform: translate(50%, 50%);
    }
  
    to {
        transform: translate(50%, 50%) rotate(360deg);
    }
}

.round__spin--1 {
    animation-duration: 3s;
}

.round__spin--1 {
    animation-duration: 3s;
}

.round__spin--1 {
    animation-duration: 3s;
}

.round__spin--1 {
    animation-duration: 3s;
}

.round__spin--1 {
    animation-duration: 3s;
}

.round__spin--1 {
    animation-duration: 3s;
}

.round__spin--1 {
    animation-duration: 3s;
}

.round__ball--1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
}

.round__ball--2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
}

.round__ball--3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
}

.round__ball--4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: violet;
}

.round__ball--5 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orangered;  
}

.round__ball--6 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: purple;
}

.round__ball--7 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
}




