/*En ID about-me*/
span {
    position: relative;
}

span:before {
    content: "";
    position: absolute;
    background-color: black;
    width: 0vw;
    height: 100%;
    animation-name: tachado;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes tachado {
    from {width: 0vw;}
    to {width: 30vw;}
}



.about-me { 
    display: flex;
    align-items: center;
    justify-content: center;  
}

.about-me__cards {
    background-color: #414141;
    width: 30vw;
    height: 50vh;
}

.about-me__cards .card1 .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-me__cards .card1 .icon .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    
}

.about-me__cards .card1 .slide {
    width: 25vw;
    height: 30vh;
    transition: 0.5s;
}

.about-me__cards .card1 .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);
}

.about-me__cards .card1:hover .slide.slide1{
    transform: translateY(0px);
}

.about-me__cards .card1 .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-100px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.about-me__cards .card1:hover .slide.slide2{
    transform: translateY(0);
}

.about-me__cards .card1 .slide.slide2::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.about-me__cards .card1 .slide.slide2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: green;
}

.about-me__cards .card1 .slide.slide2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: red;
} 



/*En ID works*/
.round {
    margin: 50px;
    position: relative;
    
    &__spin {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(50%, 50%);
    animation: spin infinite linear both;

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                width: calc(#{$i}8%);
                height: calc(#{$i}8%);
            }
        }
    }

    &__ball {
        position: absolute;
        top: 50%;
        left: -12px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        transform: translateY(100%);
    }
}
  
@keyframes spin {
    from {
        transform: translate(50%, 50%);
    }
  
    to {
        transform: translate(50%, 50%) rotate(360deg);
    }
}

.round__spin--1 {
    animation-duration: 3s;
}

.round__spin--1 {
    animation-duration: 3s;
}

.round__spin--1 {
    animation-duration: 3s;
}

.round__spin--1 {
    animation-duration: 3s;
}

.round__spin--1 {
    animation-duration: 3s;
}

.round__spin--1 {
    animation-duration: 3s;
}

.round__spin--1 {
    animation-duration: 3s;
}

.round__ball--1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
}

.round__ball--2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
}

.round__ball--3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
}

.round__ball--4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: violet;
}

.round__ball--5 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orangered;  
}

.round__ball--6 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: purple;
}

.round__ball--7 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
}
