/*En ID about-me*/
#about-me, #studies{
    padding: 15vh 5vw;
    height: 100vh;
}

span {
    position: relative;
}

span:before {
    content: "";
    position: absolute;
    background-color: #242424;
    width: 0vw;
    height: 200%;
    animation-name: tachado;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes tachado {
    from {width: 0vw;}
    to {width: 30vw;}
}

/*En Id Works*/
.works__flip {
    position: relative;
    height: 100vh;
}

.works__flip__card {
    position: absolute;    
    top: 50%;
    left: 50%;
    height: 75vh;
    width: 30vw;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 600px;
    transition: .5s;

    &:hover .card-front {
        transform: rotateX(-180deg);
    }
        
    &:hover .card-back {
        transform: rotateX(0deg);
    }
}
 
.card-front--1 {
    height: 100%;
    width: 100%;
    background-image:url(/images/dgeyc.png);
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .5s;
}
  
.card-front--2 {
    height: 100%;
    width: 100%;
    background-image:url(/images/dgeyc.png);
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .5s;
}

.card-front--3 {
    height: 100%;
    width: 100%;
    background-image:url(/images/d&s.png);
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .5s;
}

.card-front--4 {
    height: 100%;
    width: 100%;
    background-image:url(/images/caesar.png);
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .5s;
}

.card-front--5 {
    height: 100%;
    width: 100%;
    background-image:url(/images/crillon.png);
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .5s;
}

.card-front--6 {
    height: 100%;
    width: 100%;
    background-image:url(/images/argenta.png);
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .5s;
}

.card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border: 5px solid #242424;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: .5s;
    color: black;
    text-align: center;

    h3 {
        margin: 20% auto 35% auto;
        font-size: 26px;  
    }

    p {
        font-size: 20px;
        text-decoration: underline;
    }

    ul li {
        list-style-type: none;
    }
}
     
